<% provide :title, 'Home' %>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  <br>
  <%= link_to 'About', controller: 'static_pages', action: 'about' %>
  <%= link_to 'Help', controller: 'static_pages', action: 'help' %>
  <%= link_to 'Contacts', controller: 'static_pages', action: 'contacts' %>
</p>
