<% provide :title, 'Home' %>
<div class="center jumbotron">
  <h1>Your personal software engineering team.</h1>

  <h2>
    Any project, any complexity, highest quality.
  </h2>

  <%= link_to "Contact us now!", contacts_path, class: "btn btn-lg btn-primary" %>

  <h5>...or <%= link_to "sign up", signup_path %> to be up-to-date.</h5>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>